%p デジコミュ秋田2012ではライトニングトークス(LT)の時間を設けました。
%p
  ライトニングトークスは秋田ではあまり馴染みがないかも知れませんが、5分の持ち時間で伝えたい事を発表する場です。
%p
  各コミュニティにまつわる事はもちろん、自分の活動、作った作品(農作物でも)の自慢や会社の宣伝など、伝えたい事をこの機会に発表してみませんか？
  %br
  5分以内に絵を描き上げたり、3Dモデルを仕上げたりといった才能の発表でもいいと思います。
%p
  テーマは特に設けませんので、発表内容は自由に選択して下さい。
  %br
  テーマがあった方がやり易い方は、デジコミュ秋田2012のテーマである「知る」や「秋田のよさ/秋田を良くするには」という視点で考えてみて下さい。
%p
  ライトニングトークスの面白いところは5分経過すると銅鑼(ドラ)が鳴らされ強制的に発表が終了させられる事です。
  時間ギリギリに終わるか終わらないかぐらいが非常に盛り上がるのでうまく5分にまとめてください。
%p
  通常60分枠で行いますが、デジコミュ秋田2012では45分で行います。
  %br
  5分は長過ぎるので3分だったら発表しても良いという方もいると思いますので、初めての試みでもあるので3分での発表も可とします。
  %br
  7名程度の発表者を募集します。3分希望者がいる場合は、もう少し増えます。
  %br
  発表者が多い場合は、デジコミュ秋田2012実行委員会で選考いたします。結果についてはメールにて連絡いたします。
  %br
  残念ながら選考にもれた方は懇親会での居酒屋プレゼンで是非発表して下さい。

%h3 応募方法
%p
  下記リンク先の応募フォームより申し込んで下さい。

  %br
  TODO: Google Docsでフォーム作る
%p
  記入項目は以下になります。
%ul
  %li 氏名
  %li メールアドレス
  %li タイトル
  %li 発表内容(大まかに)
  %li 発表時間(5分、3分)
  %li その他連絡したいことがあれば記入して下さい。
