%p
  Webチュートリアル#{link_to '"プログラミング入門　- Rubyを使って -　未来のプログラマのためのチュートリアル"', 'http://www.is.akita-u.ac.jp/cgi-bin/ruby-tutorial.rb' }をペアを組んで進めます。
  %br
  プログラム経験のない方には経験のある方とペアを組んでもらいますので、全くの初心者でも大丈夫です。

%p
  参考までに上記サイトの、書籍はこちらです。
  %br
  #{link_to '"初めてのプログラミング 第2版"', 'http://www.amazon.co.jp/gp/product/4873114691/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4873114691&linkCode=as2&tag=gutskunsblog-22'}
  %br
  持っている方は書籍を持参していただいても構いません。


%p
  ユニットテストと呼ばれるテスト方法での動作確認も試してみます。

%h3 準備する物
%p
  実際にRubyコーディングをしますので、可能であればご自分のPCを持参下さい。ペアプロスタイルで行うため、半数の方が持ってきてくれれば成立しますので、持参が難しい場合は無理しなくても構いません。

%h3 このセッションで体験できる事
%ul
  %li Ruby言語を使ったプログラミング
  %li ペアプログラミング
  %li ユニットテスト
