%p
  %h5 ＜＜通常JAGAスタイル ＋ JAGA#2時のアイディア出し を実施！＞＞
  %table
    %tr{:valign => 'top'}
      %td 1
      %td{ :width => 200 } バスアプリプロトタイプ完成
      %td ：柴田 傑  様
    %tr{:valign => 'top'}
      %td 2
      %td SoftModem総集編
      %td ：かとのぶ 様
    %tr{:valign => 'top'}
      %td 
      %td (休憩，席替え)５分
    %tr{:valign => 'top'}
      %td 3
      %td{ :colspan => 2} みんなでバスアプリのアイディア出し<br />（ボールペンを利用しますが，人数分用意いたします）
