%p
  Akita.mではここ一年間アジャイルサムライ読書会を行ってきました。
  %br
  アジャイルサムライ読書会は書籍#{link_to 'アジャイルサムライ', 'http://www.amazon.co.jp/exec/obidos/ASIN/4274068560/gutskunsblog-22/'}を読んで意見交換したり、ハンズオン形式で体験したりしてます。  
  %br
  その中から、"第7章 見積り:当てずっぽうの奥義" を選んでもう一度読書会を行います。
  %br
  ソフトウェアの見積りについて書かれていますが、プロジェクトとして計画が立てられる分野全般で参考となる考え方と思いますので、いろんな分野の方が参加してくれるといいなと思います。

%h3 進め方
%p
  書籍を輪読します。
%p
  ハンズオン形式でいくつかのケースの見積りをしてみます。
%p
%h3 準備する物
%ul
  %li 書籍を持っている方は持参下さい
  %li 筆記用具
