%p
  秋田大学で研究がなされている舞踊符の記録と鑑賞アプリを#{link_to "Unity", "http://japan.unity3d.com/unity/"}ベースのアプリ＋#{link_to "kinect", "http://www.microsoft.com/en-us/kinectforwindows/"}＋Android（＋iphone)などで，国文祭に何か出展したいと企ててます。
  %br
  この出展ネタを，皆さんで出し合い，細部について，ブレインライティングなどでアイディア出しをして企画を作り上げます。
