%p
  これからプログラムを勉強しようという方や、プログラムとは何？と思っている初心者向けの内容です。
  %br
  プログラムに付いての知識は全く必要ありませんので、小学生の方から参加できます。
  %br
  コンピュータの中では、データ処理が不可欠です。
  %br
  普段垣間みる事のないデータ処理の裏側を体を使って体験してみましょう。
  %br
  主に配列の考え方に付いて学びます。
  %br
  ワークショップ形式を予定しています。
  %br
