%h3 概要
%p
  Akita.mはソフトやWeb等の情報交換を雑談形式でおこなっている会です。
  開発者に限らず、興味があればどなたでも参加出来ます。

%h3 目的
%p
  ITをとりまく技術やツールの進歩は目覚ましい所があります。
  弘法は筆を選ばずといいますが、我々凡人には何を選んだかで左右される事が随分多い様に感じます。
  何を選ぶかというのは、個人の趣味趣向、出会った人、書籍、体験などをはじめとする様々な縁に左右されている様に思います。
  Akita.mでは様々な分野の人が集まる事で、一人では知りうる事のなかった事を知る、あるいは体験する機会、場となれば良いなと思っています。

%h3 開催情報
%p
  毎月どこかの水曜の午後2時から秋田市内のカフェで開催しています。
  %br
  #{link_to '米カフェ', 'http://www.yonecafe.com'}で開催する事が多いです。
