%h3 概要
%p
  FEJは、東日本大震災を機に設立された団体。
  %br
  仙台のIT企業や勉強会、個人が集まりAndroid開発でこの地に産業を興すために設立。
  %br
  秋田でもアプリ開発を通してIT産業の振興とクリエイターの育成を目的としている。


%h3 リンク
%ul
  %li
    %a{ href: 'http://fandroid-ej.org' } FEJ秋田 
    !!! %a{ href:'https://www.facebook.com/events/513164845379187/'} FEJ秋田  
