- @title = 'スケジュール'

#schedule{name:'schedule'}
  %h2 スケジュール
  %h3 2012年11月10日土曜日

  %table
    - @schdules.each do |schedule|
      %tr{ 'class' => schedule.kind }
        %td #{time_range_of_schedule schedule} 
        %td
          - if schedule.has_link?
            = link_to schedule.title, schedule_show_path(:id => schedule.id)
          - else
            = schedule.title
          - if schedule.organization
            %br
            = link_to schedule.organization, schedule_organization_path(:id => schedule.id)
