- @page_title = @schedule.organization

#community
  %h2= @schedule.organization 
  = render :partial => @schedule.organization_tmplate if @schedule.organization_tmplate

%br
%br
= link_to_function "戻る", "history.back()"
