- @title = @schedule.organization

#community
  %h2= @schedule.organization 
  - if @schedule.organization_tmplate
    = render :partial => @schedule.organization_tmplate
  - else

= link_to_function "戻る", "history.back()"
