#access_box
  #access_content
    %h2 会場
    %p 秋田県産業技術センター 
    %p 秋田県秋田市新屋町字砂奴寄4-11 

    %h2 アクセス
    %h3 バスを利用される方
    %p
      秋田駅西口(2番線)から県立プール線に乗車し工業技術センター前で降ります。
      9:30発のバスに乗っていただくと工業技術センター前9:57着です。
      %br
      %br
      こちらで時刻表を検索出来ます。
      = link_to '秋田中央交通 秋田駅から探す時刻・料金表', 'http://www.akita-chuoukotsu.co.jp/akitaeki-search.html'
      
  #access_side
    #access_map
      =render :partial => 'access_map'

