- @page_title = 'デジコミュ秋田 2013'
#copy.hero-unit
  %h1
    デジコミュ秋田 2013
  .sheep-space.pull-right
  %p
    %br
    %hr
    - if Time.now < entry_deadline
      %a.btn.btn-large.btn{:href => 'http://digicommu-akita.doorkeeper.jp/events/1855'} 本編参加登録 »

#aim{name:'aim'}
  %h2 はじめに
  .indent1
    %p
      デジコミュ秋田は、県内で活動しているITコミュニティーが一堂に会し同日開催するイベントです。
      
    %p
      2回目の開催となる、デジコミュ秋田 2013ではコミュニティの枠を越えて、より多くの分野の方から参加頂けるように考えています。
    %p
      交流会として初めての試みですが、ビアバッシュを予定しています。軽食は用意しますので、ビール等の飲み物は自分の好きな物を持ち寄って歓談します。また、そのなかでライトニングトークスも開催します。
    %p
      皆様のご参加を心からお待ちしております。
      %br
    
   

#theme


#main-schedule
  %h2 スケジュール
  .indent1
    %p
      内容はただ今調整中です。
      %br
      決まり次第更新します。
      %br
      10:00 - 17:00 : イベント
      %br
      17:30 - 20:30 : ビアバッシュ & LT大会 (成人のみ)
      %br

%hr

  %p= link_to "申込みはこちらから", "http://digicommu-akita.doorkeeper.jp/events/6451"

.split
  .split_left
    #overview{name:'overview'}

    %h4 タグ
    twitter : #dcakita



.reset

%hr


.reset
