%div#main_title
  %h1 デジコミュ秋田 2012

%div#copy
  %p
    秋田県内のITコミュニティ、Akit Ruby Meeting(秋田Rubyお楽しみ会)、JAGA(日本Androidの会秋田支部)、Akita.mが同日開催されます。
    %br

%div#aim{name:'aim'}
  %h2 趣旨
  %p
    近年、秋田県内のITに関するコミュニティーが盛んになりつつあります。
    %br
    デジコミュ秋田 2012では、れぞれのコミュニティーが同日開催されます。それぞれの活動内容を知る機会と、お互いの交流を深める機会とし、コミュニティーの継続、向上、発展につがる事を期待します。
    %br
    既にコミュニティーに参加されている方、日頃関心を寄せ頂いている方には、ぜひこの機会にご参加いただければと思います。
    皆様のご参加を心からお待ちしております。
    %br

%div#overview_map_box
  %div#overview{name:'overview'}
    %h2 概要
    %table
      %tr
        %th 日時
        %td 2012年11月10日(土)<br />会場 9:30 - 施 18:00
      %tr
        %th 会場
        %td 秋田県産業技術センター  
      %tr
        %th 主催
        %td デジコミュ秋田 2012実行委員会  
      %tr
        %th 参加コミュニティ 
        %td JAGA(日本Androidの会秋田支部)<br />Akita.m<br />Akit Ruby Meeting(秋田Rubyお楽しみ会)
      %tr
        %th 参加費
        %td 有料
      %tr
        %th 懇親会
        %td 有料

  %div#access_map
    =render :partial => 'access_map'

%div.reset

%div#schedule{name:'schedule'}
  %h2 スケジュール

  %table
    %tr
      %td 9:30
      %td 開場
    %tr
      %td 10:00
      %td オープニング
    %tr
      %td 10:15
      %td Akit Ruby Meeting(秋田Rubyお楽しみ会)
    %tr
      %td 11:45
      %td 昼休み(昼食)
    %tr
      %td 13:00
      %td JAGA(日本Androidの会秋田支部)
    %tr
      %td 14:30
      %td おやつタイム(佐藤家から和菓子とコーヒーのもてなし)
    %tr
      %td 15:00
      %td Akita.m
    %tr
      %td 16:30
      %td 休憩
    %tr
      %td 16:45
      %td ライトニングトークス  
    %tr
      %td 17:30
      %td クロージング  
    %tr
      %td 18:00
      %td 退出
    %tr
      %td 19:00
      %td 懇親会

