%h2 ライトニングトークス発表者&ドラ娘募集
%p デジコミュ秋田2013ではビアバッシュ中にライトニングトークス(LT)を行います。
%p
  ライトニングトークスは秋田ではあまり馴染みがないかも知れませんが、5分の持ち時間で伝えたい事を発表する場です。
%p
  テーマは特に設けませんので、発表内容は自由に選択して下さい。
%p
  時間枠は60分取っていますので、最大11名を募集します。
  %br
  発表者が多い場合は、デジコミュ秋田2013実行委員会で選考いたします。結果についてはメールにて連絡いたします。
  %br
  %br
  同時にドラ娘も募集します。ドラ娘は持ち時間の5分が経過したらドラを鳴らして終了を伝える係です。
  %br

%h3 応募方法
%p
  下記リンク先の応募フォームより申し込んで下さい。
  %br
  ドラ娘に応募する場合はタイトルに「ドラ娘希望」と記入して下さい。
.registration
  %a.btn.btn-large.btn{:href => 'https://docs.google.com/spreadsheet/viewform?usp=drive_web&formkey=dG1ESFpmODh2X1pBNUE4c2wzYkIzX1E6MA#gid=0'} ライトニングトークス申込み
  %br
  %br

  %p
    記入項目は以下になります。
  %ul
    %li 氏名
    %li メールアドレス
    %li タイトル
    %li 発表内容(大まかで結構です。選考の参考にさせていただきます)
    %li その他連絡したいことがあれば記入して下さい。
  %p
    %b
      締切　11月14日(木) 24:00

