%h3 概要
%p
  秋田県に特化したネットワーク構築・運用にまつわる技術交流や、それに伴うあらゆる情報通信技術を幅広く取り扱います。

%h3 リンク
%ul
  %li
    %a{ href:'http://anog.info/mailman/listinfo/anog/'} ANOGのメーリングリスト  
  %li
    %a{ href:'http://anog.info/'} ANOG Web  
