%h3 概要
%p
  Akita Ruby Meetingは秋田でRubyを入り口としてプログラミングを楽しみたい方の会です。
  Akita Ruby Meeting の略称は ARM です。
  副題は 秋田Rubyおたのしみ会 です。

%h3 開催情報
%p
  不定期に年3、4回の開催を予定してます。  

%h3 リンク
%ul
  %li
    %a{href:'https://github.com/katsuyoshi/AkitaRubyMeeting/wiki'} Akita Ruby Meeting