%p
  当日受け付けると名札ホルダーが渡されます。
  %br
  このフォルダーには縦10.0cmx横10.5cmのサイズまでの大きさの名札が入ります。
  %br
  名刺等を入れていただいてもいいのですが、せっかく大きいサイズですので名前が目立つ様に予め用意しはどうでしょうか？
  %br

%h4 テンプレート
簡単に作れる様にテンプレートも用意しましたのでどうぞ活用下さい。
%br
(テンプレート名札下のボックスは紙が薄いと思うので折り返して厚くなる様にするためです。)
%ul
  %li= link_to 'Pages', '/templates/nafuda_2012.pages'
  %li= link_to 'Word', '/templates/nafuda_2012.doc'

%h4 参考
%ul
  %li
    %a{ href:'http://rubykaigi.tdiary.net/20100815.html' } 名札には名前を大きく書きましょう
  %li
    %a{ href:'http://nameplate.clear-code.com' } 名札には名前を大きく書きましょうジェネレータ

%h4 例
=image_tag 'nafuda_example.png'