#page {
  width: 800px;
  margin: auto;
}

#navigation {
  clear: both;
  color: white;
  background: #000066;
  text-align: left;
  margin: 10px 0;

  ul {
    display: inline-block;
    border-left: 1px solid #3e4b57;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    list-style-image: none;
  }
  ul li {
    margin-right: 0px;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }
  li {
    width: 125px;
    font-size: 120%;

    border-top: none;
    border-bottom: none;
    border-left: 1px solid #3e4b57 collapse;
    border-right: 1px solid #3e4b57;
    display: inline-block;
    padding: 0 7px;
  }
  li {

    a {
      letter-spacing: 1px;
      font-family: 'Crete Round', serif;
      color: #d4d7da;
      text-decoration: none;
    }

  }
}

#footer {
  clear: both;
}