// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#copy {
  font-size: x-large;
}

#overview {
  padding: 20px;
  width: 450px;
  table {
    th {
      vertical-align: top;
    }
  }
  float: left;
}

.split_right {
  float: right;
}

.registration {
  padding: 20px;
  width: 250px;

  table {
    width: 100%;
  }
  tr {
  }
  td {
    height: 60px;
    font-size: large;
    text-align: center;
    color: white;
    background-color:Mediumseagreen;
    border-radius: 0.5em; 
  }
  a {
    letter-spacing: 1px;
    font-family: 'Crete Round', serif;
    color: white;
    text-decoration: none;
  }
}

.reset {
  clear: both;
}

.indent1 {
  margin-left: 20px;  
}

#schedule {
  padding: 20px;
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #535F6A;

    td {
      padding: 10px;
      border: 1px solid #535F6A;
      border-collapse: collapse;
    }

    tr.session {
      background-color: #CCFFCC;
    }
    tr.lightning-talks {
      background-color: #CCFFFF;
    }
    tr.opening, tr.closing {
      background-color: #FFCCCC;
    }
    tr.party {
      background-color: #FFFF99;
    }
    tr.info, tr.break {
      background-color: #F0F0F0;
    }

  }

}

#access_content {
  width: 50%;
  float: left;
}

#access_side {
  float: right;
  #access_map {
    margin-top: 20px;
  }
}


