%hr
.clearfix
  .pull-reft
    |
    = link_to "2015", y2015_welcome_index_path
    |
    = link_to "2014", y2014_welcome_index_path
    |
  .pull-right
    <a href="mailto:gutskun+digicommu-akita@gmail.com"><i class="icon-envelope"></i> デジコミュ秋田実行委員会</a>
