.navbar-inner
  .brand= link_to 'デジコミュ秋田 2012', root_path
  %ul.nav
    %li.divider-vertical
    %li
      %a{:href => schedule_index_path}
        %i.icon-calendar
        スケジュール
    %li.divider-vertical
    %li
      %a{:href => articles_index_path}
        %i.icon-info-sign
        お知らせ
    %li.divider-vertical
    %li
      %a{:href => welcome_access_path}
        %i.icon-plane
        アクセス
    %li.divider-vertical